<h3> To recover your password, please click the link below. </h3>

<%= link_to "click to edit password", edit_password_recovery_url(@user.password_recovery_token) %>

<h4> If you did not want to reset your password, ignore this link and your password will stay the same. </h4>