<% provide(:title, "set meals") %>


<div class="row">
	<div class="col-sm-6" id="set_meals">
	<%= render "meal_limits/set_meals"%>
	</div>

	<div class="col-sm-6" id="unset_meals">
	<%= render "meal_limits/unset_meals"%>
	</div>
</div>

<div id="show-this-meal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>